html{ font-size: 18px; margin:0; padding:0; font-family: sans-serif;  }
body{ margin:0; padding:0; position: relative; }

header h1 { margin:0; text-align:center; font-size: 22px; display: inline; }
header { background: #9f9; position: fixed; top: 0; width: 100%; text-align:center; height: 34px; }

#playwell { position: relative;}
#play { position: absolute; right: 0; bottom: 0;}

.standalone header { padding-top: 20px; }

#header { overflow: hidden; }

h3 { font-size: 12px; text-align:center; margin:0; padding:0; }

body { font: -apple-system-body; }
header h1 { font: -apple-system-headline 17px; font-weight: bold; }

.vbar {
  top: 0;
  height: 20px;
  position: absolute;
  width: 1px;
  background: rgb(98, 98, 238);
}
.cell {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  margin: 0; padding: 0;
}

.cell input { width: auto;}

.cell h2 { margin:0; padding:0; font-size: 11px; font-variant: small-caps; }

ul { margin:0; padding:0; }
ul li { 
   list-style: none; padding: 5px 10px; background: #eee; min-height: 38px; 
   display: -webkit-box;
}
ul a { text-decoration: none; }

button { padding: 10px 5px; font-size: 15px; }


header {
   //-webkit-filter: blur(8px);
   z-index: 10;
   //background: repeat-x bottom left url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#ff0000' x='0' y='0' width='1' height='0.5'/></svg>");


   background: -webkit-linear-gradient(0deg, #be0344, #be0344 0.88%,
       rgba(229, 70, 127, 0.91) 0.881%, #e5467f);

}


ul li{
   background: repeat-x bottom left url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#bbbbbb' x='0' y='0' width='1' height='0.5'/></svg>");
}

/*header a:last-child { float: right; }
header a:first-child { float: left; } */
header a:last-child { position: absolute; right: 5px; left: auto; }
header a:first-child { position: absolute; left: 5px; right: auto; }

#play {
  font-size: 30px;
  text-decoration: none;
  color: black;
  text-shadow: white 0px 1px 1px;
  margin-right:10px;
  float:right;
  /*font: sans-serif 30px;*/
  min-width: 30px;
  min-height: 30px;
  display: inline-block;
}

#rewind {
   position: absolute; right: 5px;
}

p { margin:0; padding: 5px 10px; background: #ddd; }

.more_options{ margin-top: 20px; }
 
#map{ position: relative; width: 100%; height: 100px ; width: 320px; }
.overlaid { 
   position: absolute; bottom: 0px; text-align: right; width: 100%; 
   background: rgba(0,0,0,0.2); height: 30px;
}
.content { padding: 34px 0px; }
.standalone .content { padding-top: 54px; }

#timeline{ position: relative; }
/*#actions{ margin-left: 35px; margin-right: 35px; }*/


#cities a { margin: 0 8px }

#waveform {
   /*-webkit-transform: rotate(90deg) scale(1.0,1.15); position: absolute; display:block; -webkit-transform-origin: 0% 100%; top: -275px;*/
}

.backdrop {
  position: absolute; width: 100%; height: 100; opacity: 0.4;
  overflow: hidden;
  background-size: 100% 50px;
  /*-webkit-transform: scale(0.1777,0.25); */
  /*-webkit-transform-origin: 0% 100%; top: -275px;*/
}


#actions >a > span, #actions >a > i {
  padding: 5px;
}

#actions >a, .fake_action{ 
   border: solid 1px black;
   overflow: hidden;
   /*background: #eee;*/

   /*border-left: solid 2px #558; */
   display:block; 
   z-index: 2;
   margin-bottom: 10px;
   transition: 0.3s;
   transform-style: preserve-3d;
   backface-visibility: hidden;
   position: relative;
}


#actions >a > img, .fake_action >img {
  width: 100%;
  height: 30px;
}

.playing #actions>a{ background: rgba(0,0,0,0.4); -webkit-transform: rotateX(180deg); }
.playing #actions>a.show { background: transparent; -webkit-transform: rotateX(0deg); }

.playing #actions>a > span, .playing #actions>a > i { color: transparent; }
.playing #actions>a.show span, .playing #actions>a.show > i { color: black; }


#actions>a i {
   font-size:9px;
   color: #aaa;
   display:block;
}
#browser {
   font-size:20px;
   /* border:solid thin black; */
   max-width:100%;
   margin:0;
}

#playhead {
   width: 2px;
   height: 100%;
   position : absolute;
   z-index: 1;
   background: #9f9;
   /*width: 100%;*/
}

form{ margin:0;}

#about { background: #f9f; padding: 10px; }
#geolocate { min-height: 100px; display: block; }
form input { 
   width: 250px; 
   border:none;
   font-size:20px;
   padding:3px 7px
}
#add_action {
   position: fixed;
   bottom: 0;
   width: 100%;
   background: #ccc;
   z-index: 3;
}
